{% extends 'articles/base.html' %}
{% load bootstrap4 %}

{% block body %}
{% if messages %}
<div class="alert alert-primary" role="alert">
  {% for message in messages %}
    {{ message }}
  {% endfor %}
</div>
{% endif %}

<h1> {{article.id}}번글 </h1>
<h2>작성자 : {{article.user}} </h2>
<h1>제목 :  {{ article.title }} </h1>
<hr>
<h2>내용 : {{ article.content}} </h2>
<hr>
<h5> 작성시간 : {{ article.created_at}} </h5>
{% if article.image %}
  <img src="{{ article.image.url }}" alt="{{ article.image.name }}">
{% endif %}
<a href="{% url 'articles:index' %}">목록으로</a>
{% if comment.user == user %}
<form action="{% url 'articles:delete' article.pk %}" method="POST" onclick="return confirm('진짜 지울래?')">
  {% csrf_token %}
  <input type="submit" value="삭제">
</form>
<a href="{% url 'articles:update' article.pk %}">[수정]</a>
{% endif %}
<hr>
<h4>댓글 수: {{comments.count}} </h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">이름</th>
      <th scope="col">번호</th>
      <th scope="col">댓글</th>
      <th scope="col">작성시간</th>
      <th scope="col">삭제</th>

    </tr>
  </thead>
  <tbody>
    {% for comment in comments %}
    <tr>
      <td>
        {{comment.user }}
      </td>
      <td>
        {{ comment.id }}
      </td>
      <td>
        {{ comment.content }}
      </td>
      <td>
        {{ comment.created_at }}
      </td>
      <td>
        {% if comment.user == user %}
        <form action="{% url 'articles:comment_delete' article.pk comment.id %}" method="POST"
          onclick="return confirm('진짜 지울래?')">
          {% csrf_token %}
          <input type="submit" value="삭제">
        {% endif %}
        </form>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td>댓글이 없어요 작성해주세요
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<h4>댓글작성</h4>
<form action="{% url 'articles:comment_create' article.pk %}" method="POST" class="form">
  {% csrf_token %}
  {% bootstrap_form comment_form %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">댓글</button>
  {% endbuttons %}
</form>
{% endblock %}