{% extends 'articles/base.html' %}
{% load bootstrap4 %}

{% block body %}
{% if messages %}
<div class="alert alert-primary" role="alert">
  {% for message in messages %}
    {{ message }}
  {% endfor %}
</div>
{% endif %}
<div class="container mt-3">
<h4> {{article.id}}번글 </h4>

<div>
<h2 class="text-center"> {{ article.title }} </h2>
</div>
<div class="inline-box " style='height:500px'>
<div class="d-flex align-items-center" style='min-height:200px'>
{% if article.image %}
  <img src="{{ article.image.url }}" alt="{{ article.image.name }}">
{% endif %}
{% load hashtag %}
<h5> {{ article|make_link|safe|linebreaksbr }} </h5>
</div>
<div>
<h6 class="text-right">작성자 : {{article.user}} </h6>
<h6 class="text-right"> 작성시간 : {{ article.created_at}} </h6>
</div>

<div class="container d-flex">
<div class="mr-auto">
<h6 class="inline-box"> 좋아요 : {{ article.like_users.count }}개</h6>
{% if user in article.like_users.all %}
<a href="{% url 'articles:like' article.pk %}"><i class="fas fa-thumbs-up fa-2x "></i>
</a>
{% else %}
<a href="{% url 'articles:like' article.pk %}"><i class="far fa-thumbs-up fa-2x " ></i>
{% endif %}
</div>

<div class="mt-auto">
<a class="d-inline btn btn-outline-secondary btn-sm" href="{% url 'articles:index' %}">목록으로</a>
{% if article.user == user %}
<a class="d-inline btn btn-outline-secondary btn-sm" href="{% url 'articles:update' article.pk %}">수정</a>
<form class="d-inline" action="{% url 'articles:delete' article.pk %}" method="POST" onclick="return confirm('진짜 지울래?')">
  {% csrf_token %}
  <input class="btn btn-outline-secondary btn-sm" type="submit" value="삭제">
</form>
{% endif %}
</div>
</div>
<hr>
<h5>댓글 수: {{comments.count}} </h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">이름</th>
      <th scope="col">번호</th>
      <th scope="col">댓글</th>
      <th scope="col">작성시간</th>
      <th scope="col"></th>

    </tr>
  </thead>
  <tbody>
    {% for comment in comments %}
    <tr>
      <td>
        {{comment.user }}
      </td>
      <td>
        {{ comment.id }}
      </td>
      <td>
        {{ comment.content }}
      </td>
      <td>
        {{ comment.created_at }}
      </td>
      <td>
        {% if comment.user == user %}
        <form action="{% url 'articles:comment_delete' article.pk comment.id %}" method="POST"
          onclick="return confirm('진짜 지울래?')">
          {% csrf_token %}
          <input class="btn btn-outline-danger btn-sm" type="submit" value="삭제">
        {% endif %}
        </form>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td>댓글이 없어요 작성해주세요
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<h4>댓글작성</h4>
<form action="{% url 'articles:comment_create' article.pk %}" method="POST" class="form">
  {% csrf_token %}
  {% bootstrap_form comment_form %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">댓글</button>
  {% endbuttons %}
</form>
{% endblock %}