{% extends 'articles/base.html' %}
{% block css %}

edit_title {
  text-align:center;
}
edit_content {
  display:flex;
  width:500px;
  height:500px;
  background-color:antiquewhite;
  margin-bottom :20px;
  align-items: center;
  justify-content: center;
}


{% endblock %}


{% block body %}

<div class="edit_content">
  <form action="/articles/{{ article.pk }}/update/" method='GET'>
    <div class="form-group">
      <label for="formGroupExampleInput"> 제목</label>
      <input type="text" class="form-control" id="formGroupExampleInput" name="title" value="{{ article.title }}">
      <small id="emailHelp" class="form-text text-muted">글의 제목을 수정 해주세요.</small>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">내용</label>
      <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="3">{{ article.content }}</textarea>
    </div>
    <div>
      <button type="submit" class="btn btn-primary">글 수정</button>
    </div>
  </form>
</div>
{% endblock %}