{% extends 'articles/base.html' %}

{% block css %}
.board_table {
  display:flex;
  width : 100wh;
}

.board_table > tbody {
  margin:10px;
}

.table_content {
 
}

{% endblock %}

{% block body %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">제목</th>
      <th scope="col">작성일자</th>
    </tr>
  </thead>
  <tbody>
    {% for article in articles %}
    <tr>
      <th scope="row">{{ article.id }}</th>
      <td>
        <a href="/articles/{{article.id}}">
          {{ article.title }}</td>
        </a>
      <td>{{ article.created_at}}</td>
    </tr>
    {% endfor %}
  </tbody>

</table>
{% endblock %}