{% extends 'articles/base.html' %}
{% block body %}
<h1>글 작성하기</h1>

<div class="edit_content">
  <form action="{% url 'articles:create' %}" method='GET'>
    <div class="form-group">
      <label for="formGroupExampleInput"> 제목</label>
      <input type="text" class="form-control" id="formGroupExampleInput" name="title" placeholder="제목을 입력하세요">
      <small id="emailHelp" class="form-text text-muted">글의 제목을 작성 해주세요.</small>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">내용</label>
      <textarea class="form-control" name='content'id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div>
      <button type="submit" class="btn btn-primary">글 작성</button>
    </div>
  </form>
{% endblock %}